* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
  background: #f4f7fb;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100Vh;
  padding: 20px;
}

.container{
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h1{
  margin-bottom: 20px;
  color: #1f2937;
}

.user-card{
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.user-card img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.user-card h2{
  margin-bottom: 15px;
  color: #111827;
  font-size: 25px;
}

.user-card p{
  margin: 10px 0;
  color: blueviolet;
  font-size: 15px
}

button{
  width: 100%;
  padding: 13px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  background: #4f46e5;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover{
  background: #4338ca;
  transform: translateY(-2px);
}